body {
  font-family: Roboto, sans-serif;
}

.mainContent {
  height: 98vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  flex-wrap: wrap;
  padding: 0 20px;
  max-width: 760px;
  margin: 0 auto;
}

.mainContent:before {
  content: "";
  display: block;
  position: fixed;
  width: 300%;
  height: 100%;
  top: 50%;
  left: 50%;
  border-radius: 100%;
  transform: translateX(-50%) skewY(-8deg);
  background-color: #f6c90e;
  z-index: -1;
  -webkit-animation: App_wave_3CtRm 8s ease-in-out infinite alternate;
  animation: App_wave_3CtRm 8s ease-in-out infinite alternate;
}

@-webkit-keyframes App_wave_3CtRm {
  0% {
    transform: translateX(-50%) skew(0deg, -8deg);
  }

  to {
    transform: translateX(-30%) skew(8deg, -4deg);
  }
}

@keyframes App_wave_3CtRm {
  0% {
    transform: translateX(-50%) skew(0deg, -8deg);
  }

  to {
    transform: translateX(-30%) skew(8deg, -4deg);
  }
}

.card {
  background-color: #fff;
  box-sizing: border-box;
  width: 360px;
  height: 600px;
  box-shadow: 0 3.2px 2.2px rgba(0, 0, 0, 0.02),
    0 7px 5.4px rgba(0, 0, 0, 0.028), 0 12.1px 10.1px rgba(0, 0, 0, 0.035),
    0 19.8px 18.1px rgba(0, 0, 0, 0.042), 0 34.7px 33.8px rgba(0, 0, 0, 0.05),
    0 81px 81px rgba(0, 0, 0, 0.07);
  border-radius: 30px;
  overflow: hidden;
  padding: 0 28px;
  position: relative;
  margin-bottom: 20px;
}

.card::before {
  content: "";
  display: block;
  position: absolute;
  width: 300px;
  height: 300px;
  border-radius: 100%;
  background-color: #f6c90e;
  top: -20%;
  left: -50%;
  z-index: 0;
}

.cardTop {
  margin: 12px 0;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cardTop img {
  display: block;
  width: 50px;
}

.cardBody {
  height: calc(100% - 98px);
  position: relative;
  overflow-y: auto;
}

.cardBody::-webkit-scrollbar {
  display: none;
}

.cardTitle {
  font-size: 24px;
  font-weight: 700;
  margin: 16px 0;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.shopItem:first-child {
  padding-top: 0;
}

.shopItem {
  padding: 40px 0;
}

.shopItem_image {
  border-radius: 30px;
  height: 380px;
  display: flex;
  align-items: center;
  overflow: hidden;
  background-color: rgb(225, 231, 237);
}

.shopItem_image img {
  display: block;
  width: 100%;
  filter: drop-shadow(0 30px 20px rgba(0, 0, 0, 0.2));
  transform: rotate(-24deg);
  margin-left: -16px;
}

.shopItem_name {
  font-size: 20px;
  font-weight: 700;
  margin: 26px 0 20px;
  line-height: 1.5;
}

.shopItem_description {
  font-size: 13px;
  color: #777;
  line-height: 1.8;
  margin-bottom: 20px;
}

.shopItem_bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.shopItem_price {
  font-size: 18px;
  font-weight: 700;
}

.shopItem_button {
  cursor: pointer;
  background-color: #f6c90e;
  font-weight: 700;
  font-size: 14px;
  box-sizing: border-box;
  width: auto;
  height: 46px;
  min-width: 46px;
  padding: 16px 20px;
  border-radius: 100px;
  transition: all 0.25s ease;
  user-select: none;
  white-space: nowrap;
  position: relative;
  display: flex;
  align-items: center;
  overflow: hidden;
}

.shopItem_button:hover {
  background-color: #f8d43f;
  box-shadow: -2px 2px 4px rgba(0, 0, 0, 0.15);
}

.cardItem {
  display: flex;
  padding: 20px 0;
}

.cardItem_left {
  flex: 0;
}

.cardItem_image {
  width: 90px;
  height: 90px;
  border-radius: 100%;
  background-color: rgb(77, 49, 127);
  margin-right: 34px;
}

.cardItem_image img {
  display: block;
  width: 140%;
  transform: rotate(-28deg) translateY(-40px);
  filter: drop-shadow(0 30px 20px rgba(0, 0, 0, 0.2));
}

.cardItem_name {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.5;
  margin-bottom: 10px;
}

.cardItem_price {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 16px;
}

.carItem_remove {
  width: 28px;
  height: 28px;
  cursor: pointer;
  transition: all 0.25s ease;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f6c90e;
  transition: 0.2s;
  user-select: none;
}

.carItem_remove:hover {
  background-color: #f8d43f;
  box-shadow: -2px 2px 4px rgba(0, 0, 0, 0.15);
}

.carItem_remove img {
  width: 16px;
  height: 16px;
}

.cartItem_actions,
.cartItem_count {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.cartItem_count {
  flex: 1;
}

.cartItem_button {
  cursor: pointer;
  width: 28px;
  height: 28px;
  line-height: 28px;
  border-radius: 100%;
  background-color: #eee;
  font-size: 16px;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.2s;
  user-select: none;
}

.cartItem_button:hover {
  background-color: #ddd;
}

.cartItem_number {
  font-size: 14px;
  margin: 0 8px;
  width: 20px;
  text-align: center;
}

.cardItem_right {
  width: 100%;
}
